@use '../utilities/font';
@use '../utilities/color';
@use '../utilities/plus-icon';

.add_item{
  margin: 0 auto;
  border: 2px solid color.$medium-gray;
  border-radius: 5px;
  width: 620px;
  height: 65px;

  background-color: color.$white;

  @include plus-icon.add-icon(1);

  span{
    margin-left: 67px;

    @extend %status; // italic
    font-style: normal;
    line-height: 65px;
  }
}