@use '../utilities/font';
@use '../utilities/color';
@use '../utilities/plus-icon';

.add_item{
  margin-bottom: 24px;
  height: 65px;
  border: 2px solid color.$medium-gray;
  border-radius: 5px;
  background-color: color.$white;
  @include plus-icon.add-icon(32px, 1);

  span{
    margin-left: 67px;

    @extend %status; // italic
    font-style: normal;
    line-height: 65px;
  }
}