@use '../utilities/color';
@use '../utilities/font';
@use '../utilities/mediaquery';
@use '../utilities/position';

%edit-title {
  margin-bottom: 8px;

  vertical-align: middle;

  @include font.medium(20px);
}

%upload-content {
  span {
    @include font.regular(16px) {
      color: color.$black;
    }
  }
  p,
  p span {
    @include font.regular(16px) {
      color: color.$heavy-gray;
    }
  }
  // p {
  //   @include font.regular(16px) {
  //     color: color.$black;
  //   }
  // }
  // span {
  //   @include font.regular(16px) {
  //     color: color.$heavy-gray;
  //   }
  // }
}

%task-status {
  @include font.regular(18px) {
    color: color.$medium-gray;
  }
  @include mediaquery.mediaquery-tablet {
    @include font.regular(24px);
  }
}
