@use '../utilities/font';
@use '../utilities/color';
@use '../utilities/position';
@use '../utilities/mediaquery';

// ADD
%add-icon {
  width: 20px;

  @include position.position-absolute(50%, auto, auto, 32px);
  transform: translateY(-50%);
  vertical-align: top;

  font-size: 24px;
  color: color.$medium-gray;
}

// HEADER
%marker-icon {
  margin-left: auto;
  order: 2;
  @include mediaquery.mediaquery-tablet {
    margin-left: 0;
    order: 3;
  }

  button {
    width: 24px;
    background-color: transparent;

    &:first-child {
      margin-left: 16px;
    }
    & + button {
      margin-left: 32px;
    }
  }

  .marker {
    &_star,
    &_pen {
      color: color.$black;
    }
    &_major {
      color: color.$yellow;
    }
    &_edit {
      color: color.$blue;
    }
  }

  i {
    width: 24px;

    font-size: 24px;
    line-height: 28px;
  }
}

// HEADER
%record-icon {
  @include mediaquery.mediaquery-tablet {
    margin-left: 40px;
  }

  span {
    @include font.regular(16px) {
      color: color.$heavy-gray;
    }
    i {
      margin-right: 8px;
    }
  }

  i {
    font-size: 18px;
    color: color.$heavy-gray;
  }
}

// BODY
%editor-icon {
  margin-right: 8px;

  vertical-align: top;
  font-size: 16px;
  line-height: 24px;
}

// FOOTER
%reset-button {
  background-color: color.$white;
  &:hover {
    background-color: color.$hover-white;
  }

  @include font.regular(18px) {
    color: color.$red;
  }
  @include mediaquery.mediaquery-tablet {
    @include font.regular(24px);
  }
}

%submit-button {
  background-color: color.$blue;
  &:hover {
    background-color: color.$hover-blue;
  }

  @include font.regular(18px) {
    color: color.$white;
  }
  @include mediaquery.mediaquery-tablet {
    @include font.regular(24px);
  }
}
