@use '../utilities/font';
@use '../utilities/color';

%add-input {
  padding: 16.5px;
  padding-left: 67px;
  width: 100%;
  box-sizing: border-box;

  border: 2px solid color.$medium-gray;
  border-radius: 5px;
  background-color: color.$white;

  @include font.regular(24px) {
    color: color.$black;
  }

  &::placeholder {
    @include font.regular(24px) {
      color: color.$medium-gray;
    }
  }
}

%check-input {
  display: none;

  & ~ label {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    text-align: center;

    background-color: color.$white;
    cursor: pointer;

    i {
      vertical-align: middle;

      font-size: 14px;
      color: color.$white;
    }
  }

  &:checked ~ label {
    background-color: color.$blue;
  }

  &:checked ~ textarea {
    text-decoration: line-through color.$dark-gray;

    &::placeholder {
      color: color.$dark-gray;
    }
  }
}
