@use '../utilities/font';
@use '../utilities/color';
@use '../utilities/mediaquery';
@use '../utilities/position';

%add-input {
  padding: 16.5px;
  padding-left: 67px;
  width: 100%;
  box-sizing: border-box;

  border: 2px solid color.$medium-gray;
  border-radius: 5px;
  background-color: color.$white;

  text-align: left;
  @include font.regular(24px) {
    color: color.$medium-gray;
  }
}

%check-input {
  display: none;

  & ~ label {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    text-align: center;

    background-color: color.$white;

    i {
      vertical-align: middle;

      font-size: 14px;
      color: color.$white;
    }
  }

  &:checked ~ label {
    background-color: color.$blue;
  }

  &:checked ~ textarea {
    text-decoration: line-through color.$dark-gray;
    color: color.$dark-gray;

    &::placeholder {
      color: color.$dark-gray;
    }
  }
}

// input-style
@mixin content-input($width, $height) {
  padding: 8px 16px;
  width: $width;
  height: $height;
  box-sizing: border-box;

  background-color: color.$white;

  @include font.regular(16px) {
    color: color.$black;
  }
  &::placeholder {
    @include font.regular(16px) {
      color: color.$medium-gray;
    }
  }

  @content;
}

%edit-date {
  &:nth-of-type(1) {
    margin-right: 8px;
    margin-bottom: 8px;
    @include mediaquery.mediaquery-tablet {
      margin-bottom: 0;
    }
  }
}

%edit-upload {
  display: none;

  & ~ label {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;

    background-color: color.$medium-gray;

    i {
      @include position.position-absolute(0, 0, 0, 0);

      font-size: 10px;
      font-weight: 500;
      line-height: 32px;
      color: color.$white;
    }
  }
}
