@use '../utilities/mediaquery';
@use '../utilities/color';
@use '../utilities/font';
@use '../utilities/position';

nav{
  margin: 0 auto;
  height: 76px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mediaquery.mediaquery-mobile{
    max-width: 660px;
  }
}

// nav item
.nav{
  &_link{
    margin: 0 40px;
    @include mediaquery.mediaquery-mobile{
      margin: 0 10px;
    }

    padding: 24px 20px;
    box-sizing: border-box;
    flex: 1 0 0;
  
    text-align: center;
    @include font.status(normal){
      color: color.$dark-blue;
    }
  
    @include mediaquery.mediaquery-mobile{
      &:hover{
        border-bottom: 5px solid color.$dark-blue;
        @include font.title{
          color: color.$white;
        }
      }
    }
  }

  &_all, &_completed{
    display: none;
    
    @include mediaquery.mediaquery-mobile{
      display: block;
    }
  }
}

// nav controller
.nav_control{
  display: block;
  @include mediaquery.mediaquery-mobile{
    display: none;
  }
  &:hover{
    border-bottom: 5px solid color.$dark-blue;
  }
  
  &_prev{
    @include position.position-absolute(0, auto, 0, 0);
  }
  &_next{
    @include position.position-absolute(0, 0, 0, auto);
  }

  &_arrow{
    padding: 24px 20px;
    
    font-size: 24px;
    line-height: 1.2;
    color: color.$dark-blue;
    &:hover{
      color: color.$white;
    }
  }
}