@use '../utilities/color';
@use '../utilities/mediaquery';

%task-edit-spacing {
  padding: 24px 32px;
  @include mediaquery.mediaquery-tablet {
    padding: 24px 78px 24px 72px;
  }
  border-top: 3px solid color.$medium-gray;
}
