@use '../utilities/color';
@use '../utilities/font';
@use '../utilities/mediaquery';
@use '../utilities/position';

// input-style
@mixin input($width, $height) {
  padding: 8px 16px;
  width: $width;
  height: $height;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 2px;
  &:focus {
    border: 1px solid color.$blue;
  }

  background-color: color.$white;

  &::placeholder {
    @include font.regular(16px) {
      color: color.$medium-gray;
    }
  }

  @content;
}

// body
.task_body {
  padding: 24px 32px;
  @include mediaquery.mediaquery-tablet {
    padding: 24px 75px 24px 72px;
  }
  border-top: 3px solid color.$medium-gray;

  &_item {
    &:not(:first-child) {
      margin-top: 24px;
    }
    display: flex;
    flex-wrap: wrap;

    font-size: 0; // 消除<i>inline-block間距
  }

  i {
    margin-right: 8px;

    vertical-align: middle;
    font-size: 16px;
  }

  &_subtitle {
    margin-bottom: 8px;

    flex: 1 0 100%;

    span {
      vertical-align: middle;
      @include font.medium(20px);
    }
  }

  &_content {
    margin-left: 0;
    @include mediaquery.mediaquery-tablet {
      margin-left: 28px;
    }
  }
}

// body-deadline
.deadline {
  input {
    @include input(162px, 35px);

    &:nth-of-type(1) {
      margin-bottom: 8px;
      margin-right: 8px;
      @include mediaquery.mediaquery-tablet {
        margin-bottom: 0;
      }
    }
  }
}

// body-upload file
.file {
  // &_content{
  //   display: flex;
  //   align-items: center;
  // }
  // &_info{
  //   margin-right: 24px;
  // }
  // &_name{
  //   @include font.regular(16px){
  //     color: color.$black;
  //   }
  // }
  // &_date{
  //   @include font.regular(16px){
  //     color: color.$dark-gray;
  //   }
  // }

  &_upload {
    display: block;
    position: relative;

    @include input(32px, 32px) {
      background-color: color.$medium-gray;
    }
    &:hover {
      background-color: color.$blue;
    }

    i {
      @include position.position-absolute(0, 0, 0, 0);
      width: 10px;
      height: 10px;
      font-size: 10px;
      color: color.$white;
    }

    input {
      display: none;
    }
  }
}

// body-comment
.comment {
  textarea {
    resize: none;
    @include input(100%, 120px);

    @include font.regular(16px) {
      color: color.$black;
    }
  }
}

// footer
.task_footer {
  display: flex;
  flex-direction: column;
  @include mediaquery.mediaquery-tablet {
    flex-direction: row;
    height: 60px;
  }

  font-size: 0;

  button {
    border: none;
    border-right: 0;

    flex: 1 0 60px;
    @include mediaquery.mediaquery-tablet {
      flex: 1 0 0;
    }

    &:focus {
      outline: none;
    }
  }

  i {
    margin-right: 16px;
  }
}

.task_button {
  &_cancel {
    background-color: color.$white;
    &:hover {
      background-color: color.$hover-white;
    }
    @include font.regular(24px) {
      color: color.$red;
    }
  }

  &_plus {
    background-color: color.$blue;
    &:hover {
      background-color: color.$hover-blue;
    }
    @include font.regular(24px) {
      color: color.$white;
    }
  }
}
