@use '../utilities/color';
@use '../utilities/font';
@use '../utilities/mediaquery';
@use '../utilities/position';

.task{
  &_card{
    padding: 24px 32px;
  }

  &_info{
    display: flex;
    flex-wrap: wrap;
  }

  &_checkbox, &_icon_check{
    display: none;
  }
  &_checkbox_label{
    margin-right: 16px;
    width: 24px;
    height: 24px;

    display: inline-block;
    position: relative;
    background-color: color.$white;
  }

  &_message{
    margin-top: 8px;
    flex: 1 0 100%;
    order: 3;
    @include mediaquery.mediaquery-mobile{
      margin-top: 0;
      flex: 1 0 0;
      order: 2;
    }
    
    outline: none;
    border: none;
    background-color: transparent;
    
    resize: none;
    
    &, &::placeholder{
      @include font.medium(20px){
        color: color.$black;
      }
      @include mediaquery.mediaquery-mobile{
        @include font.medium(24px);
      }
    }
  }
    

  // 點擊".icon_checkbox"，增加".task_done"
  &_done{
    .task_checkbox_label{
      background-color: color.$blue;
    }
    
    .task_icon_check{
      width: 14px;
      height: 14px;

      display: block;
      @include position.position-absolute(0, 0, 0, 0);

      font-size: 14px;
      color: color.$white;
    }

    .task_message{
      text-decoration: line-through;
      
      &::placeholder{
        color: color.$dark-gray;
      }
    }
  }
}

// beside the task_info
.marker{
  &_group{
    margin-left: auto;
    
    order: 2;
    @include mediaquery.mediaquery-mobile{
      order: 3;
    }
    
    font-size: 0; // 消除<i>inline-block間距

    button{
      margin-left: 32px;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    i{
      font-size: 24px;
    }
  }
}
.marker_link_fullstar{
  i{
    color: color.$yellow;
  }
}
.marker_link_edit{
  i{
    color: color.$blue;
  }
}

// under the task_info
.record{
  &_group{
    margin-top: 16px;
    @include mediaquery.mediaquery-mobile{
      margin-left: 40px;
    }

    display: flex;

    font-size: 0; // 消除<i>inline-block間距

    i{
      &:not(:first-child){
        margin-left: 16px;
      }
      
      font-size: 16px;
      color: color.$dark-gray;
    }

    span{
      margin-left: 8px;
      
      @include font.regular(16px){
        color: color.$dark-gray;
      }
    }
  }
}

// bottom: task status
.task_status{
  margin-top: 24px;
  padding: 0 32px;

  @include font.regular(24px){
    color: color.$medium-gray;
    font-style: italic;
  }
}