@use '../utilities/color';
@use '../utilities/font';
@use '../utilities/mediaquery';
@use '../utilities/position';

.task{
  padding: 24px 32px;

  &_info{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include font.title{
      color: color.$black;
    }
  }

  &_checkbox{
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background-color: color.$white;
    position: relative;
  }

  &_message{
    margin-top: 8px;
    flex: 1 0 100%;
    order: 3;
    @include mediaquery.mediaquery-mobile{
      margin-top: 0;
      flex: 1 0 0;
      order: 2;
    }

    overflow : hidden; // 隱藏溢出內容
    text-overflow : ellipsis; // 省略符號
    display: -webkit-box;
    -webkit-line-clamp: 2; // 第二行文末出現省略符號
    -webkit-box-orient: vertical; // The box lays out its contents vertically.
  }

  &_status{
    margin-left: 32px;
    margin-bottom: 8px;

    @include font.status(italic){
      color: color.$medium-gray;
    }
  }
}
.icon_check{
  display: none;
}

// beside the task_info
.marker{
  &_group{
    margin-left: auto;
    
    order: 2;
    @include mediaquery.mediaquery-mobile{
      order: 3;
    }
    
    font-size: 0; // 消除<i>inline-block間距

    a{
      margin-left: 32px;
      display: inline-block;
    }

    i{
      font-size: 24px;
    }
  }
}

.marker_link_fullstar{
  i{
    color: color.$yellow;
  }
}
.marker_link_edit{
  i{
    color: color.$blue;
  }
}

// under the task_info
.record{
  &_group{
    margin-top: 15px;
    margin-left: 40px;
    font-size: 0; // 消除<i>inline-block間距

    display: flex;

    i{
      &:not(:first-child){
        margin-left: 16px;
      }
      // flex-grow:1;
      font-size: 16px;
      color: color.$dark-gray;
    }

    span{
      margin-left: 8px;
      
      @include font.basic{
        color: color.$dark-gray;
      }
    }
  }
}


// click .icon_checkbox then add class name .task_done
.task_done{
  .task_checked{
    background-color: color.$blue;
  }

  .icon_check_show{
    display: block;
    @include position.position-absolute(0, 0, 0, 0);
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: color.$white;
  }
    
  .task_message_done{
    text-decoration: line-through;
    color: color.$dark-gray;
  }

  .record_group{
    display: none;
  }
}