$blue: #4A90E2;
$dark-blue: #00408B;

$red: #D0021B;

$yellow: #F5A623;
$light-yellow: #FFF2DC;

$white: #FFFFFF;
$lightest-gray: #F2F2F2;
$light-gray:#E1E1E1;
$medium-gray: #C8C8C8;
$dark-gray: #757575;
$black: #FFFFFF;