$blue: #4a90e2;
$dark-blue: #00408b;

$red: #d0021b;

$yellow: #f5a623;
$light-yellow: #fff2dc;

$white: #ffffff;
$light-gray: #f2f2f2;
$gray: #e1e1e1;
$medium-gray: #c8c8c8;
$dark-gray: #9b9b9b;
$heavy-gray: #757575;
$black: #000000;

$hover-gray: #d8d8d8;
$hover-white: #fdfdfd;
$hover-blue: #3982d7;
