@use '../utilities/color';
@use '../utilities/font';

@mixin input($width, $height){
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  width: $width;
  height: $height;
  box-sizing: border-box;

  // for input
  &::placeholder{ 
    @include font.basic{
      color: color.$medium-gray;
    }
  }
  @content;
}