@use '../components/button';

main {
  margin-bottom: 24px;

  > button {
    position: relative;
    @extend %add-button;
  }

  &.adding {
    margin-bottom: 0;

    > button {
      display: none;
      // height: 0;
      // overflow: hidden;
    }
  }

  .task {
    display: none;
    &.new_task {
      display: block;
    }

    // .warning {
    //   text-align: center;
    //   color: red;
    // }
  }
}
