@use '../components/button';

.add_button {
  margin-bottom: 24px;
  position: relative;
  @extend %add-button;

  &.adding {
    margin-bottom: 0;
    display: none;
  }

  & ~ .task {
    display: none;

    &.new_task {
      display: block;
    }
  }
}
