@use '../utilities/color';
@use '../utilities/font';
@use '../utilities/mediaquery';

@use '../components/content';

// bottom: task status
footer {
  margin-top: 8px;

  font-size: 0;
}

.task_status {
  padding-left: 32px;

  @extend %task-status;
}
