@use '../components/background-theme';
@use '../components/add-task';
@use '../components/task-card';
@use '../components/task-content';

.task_body {
  // overflow: scroll;
  @extend %task-normal-background;
}

// task-card: task(normal), task_important, task_done
// each task-card spacing
.task:not(:nth-child(5)) {
  margin-top: 8px;
}

// status: marker_link icon
// 點擊".icon_checkbox"，增加".task_done"
.task,
.task.task_done {
  @extend %task-normal-background;
  .marker_link_star {
    display: inline-block;
  }
  .marker_link_fullstar {
    display: none;
  }
}

// 點擊".marker_link_fullstar"，增加".task_important"
.task.task_important {
  @extend %task-star-background;
  .marker_link_star {
    display: none;
  }
  .marker_link_fullstar {
    display: inline-block;
  }
}

// status: edit mode
// 展開編輯區塊:
// (1)聚焦".add_item:focus" --> 增加".task_edit_mode"
// (2)點擊".marker_link_pen" --> 增加".task_edit_mode"
// 收合編輯區塊:
// (1)點擊".task_button_add" --> 增加".exist_task"，刪除".add_task"及".task_edit_mode"
// (2)點擊".task_button_save" --> 刪除".task_edit_mode"
// (3)點擊".task_button_cancel" --> 刪除".task_edit_mode"
.add_task {
  &:focus {
    display: none;
  }

  ~ .task {
    display: none;

    &.task_edit_mode {
      display: block;

      .marker_link_edit {
        display: inline-block;
      }
      .marker_link_pen {
        display: none;
      }
      .task_button_add {
        display: block;
      }
      .task_button_save {
        display: none;
      }
    }
  }
}

.exist_task {
  display: none;

  ~ .task {
    display: block;

    .marker_link_edit {
      display: none;
    }
    .marker_link_pen {
      display: inline-block;
    }
    .task_edit_group {
      display: none;
    }

    &.task_edit_mode {
      .marker_link_edit {
        display: inline-block;
      }
      .marker_link_pen {
        display: none;
      }
      .task_edit_group {
        display: block;
      }
      .task_button_add {
        display: none;
      }
      .task_button_save {
        display: block;
      }
    }
  }
}

// status: record_link icon
// 在編輯模式及完成任務的情況下，不顯示.record_group
.task_edit_mode,
.task_done {
  .record_group {
    display: none;
  }
}
