@use '../components/background-theme';
@use '../components/spacing';
@use '../components/input-style';
@use '../components/textarea';
@use '../components/icon';
@use '../components/button';
@use '../components/content';

// TASK HEADER
.task_header {
  padding: 24px 32px;
  @extend %task-general-background;

  .title_group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > input {
      @extend %check-input;
    }
    .task_title {
      @extend %header-text;
    }
  }

  .marker_group {
    font-size: 0; // 消除<i>inline-block間距
    @extend %marker-group-spacing;

    input {
      @extend %marker-input;
    }
  }

  .info_group {
    margin-top: 16px;
    display: flex;
    align-items: center;
    @extend %record-icon;
  }
}

// TASK BODY
.task_body {
  @extend %task-edit-spacing;
  @extend %task-general-background;

  .edit_item + .edit_item {
    margin-top: 24px;
  }

  .edit_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    font-size: 0; // 消除inline-block間距

    > label {
      @extend %edit-title;
      i {
        @extend %edit-icon;
      }
    }
  }

  .edit_content {
    margin-left: 28px;
  }

  .deadline input {
    @include input-style.content-input(162px, 35px);
    @extend %edit-date;
  }

  .file {
    .edit_content {
      display: flex;
      align-items: center;
    }
    .file_data {
      margin-right: 24px;
      @extend %edit-content;
    }
    input {
      @extend %edit-upload;
    }
  }

  .comment textarea {
    @include input-style.content-input(100%, 120px);
  }
}

.task_footer {
  @extend %task-footer-spacing;
  display: flex;
  flex-direction: row;

  button {
    flex: 1 0 0;
  }

  .task_cancel {
    @extend %reset-button;
    border-radius: 0 0 0 5px;
  }
  .task_editing {
    @extend %submit-button;
    border-radius: 0 0 5px 0;
  }

  i {
    margin-right: 16px;
  }
}

// WHOLE TASK：display status
.task {
  margin-bottom: 8px;
  .task_header {
    border-radius: 5px;
  }

  &.editing {
    margin-bottom: 24px;
    .task_header {
      border-radius: 5px 5px 0 0;
    }

    .task_content {
      display: block;
    }
  }
  .task_content {
    display: none;
  }

  // marker of major
  .marker_star {
    ~ label .general {
      display: inline-block;
    }
    ~ label .major {
      display: none;
    }
  }
  &.major {
    .task_header {
      @extend %task-major-background;
    }
    .marker_star {
      + label .general {
        display: none;
      }
      ~ label .major {
        display: inline-block;
      }
    }
  }

  // marker of editing
  .marker_pen {
    + label > .general {
      display: inline-block;
    }
    ~ label .edit {
      display: none;
    }
  }
  &.editing {
    .marker_pen {
      ~ label .general {
        display: none;
      }
      ~ label .edit {
        display: inline-block;
      }
    }
  }

  // progress
  .info_group {
    display: none;
  }
  &.progress {
    &.editing {
      .info_group {
        display: none;
      }
      .task_header {
        padding-bottom: 24px;
      }
    }
    .task_header {
      padding-bottom: 16px;
    }
  }
}
