body, p {
  margin: 0;
}

div {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

header {
  background-color: #4A90E2;
}

main {
  background-color: #E1E1E1;
}

.task {
  background-color: #F2F2F2;
}

.task.task_star {
  background-color: #FFF2DC;
}

nav {
  margin: 0 auto;
  height: 76px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  nav {
    max-width: 660px;
    max-width: 660px;
  }
}

.nav_link {
  margin: 0 40px;
  padding: 24px 20px;
  box-sizing: border-box;
  flex: 1 0 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #00408B;
}
@media (min-width: 576px) {
  .nav_link {
    max-width: 660px;
    margin: 0 10px;
  }
}
@media (min-width: 576px) {
  .nav_link {
    max-width: 660px;
  }
  .nav_link:hover {
    border-bottom: 5px solid #00408B;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
  }
}
.nav_all, .nav_completed {
  display: none;
}
@media (min-width: 576px) {
  .nav_all, .nav_completed {
    max-width: 660px;
    display: block;
  }
}

.nav_control {
  display: block;
}
@media (min-width: 576px) {
  .nav_control {
    max-width: 660px;
    display: none;
  }
}
.nav_control:hover {
  border-bottom: 5px solid #00408B;
}
.nav_control_prev {
  margin: auto;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
}
.nav_control_next {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
}
.nav_control_arrow {
  padding: 24px 20px;
  font-size: 24px;
  line-height: 1.2;
  color: #00408B;
}
.nav_control_arrow:hover {
  color: #FFFFFF;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 24px 20px;
}
@media (min-width: 576px) {
  .container {
    max-width: 660px;
    max-width: 660px;
  }
}

.add_item {
  margin-bottom: 24px;
  height: 65px;
  border: 2px solid #C8C8C8;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
}
.add_item::before {
  content: "";
  width: 20px;
  height: 1.3px;
  margin: auto;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 32px;
  background-color: #C8C8C8;
  transform: scale(1);
}
.add_item::after {
  content: "";
  width: 1.3px;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 42px;
  background-color: #C8C8C8;
  transform: scale(1);
}
.add_item span {
  margin-left: 67px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #C8C8C8;
  line-height: 65px;
}

.task {
  padding: 24px 32px;
}
.task_info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}
.task_checkbox {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
}
.task_message {
  margin-top: 8px;
  flex: 1 0 100%;
  order: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (min-width: 576px) {
  .task_message {
    max-width: 660px;
    margin-top: 0;
    flex: 1 0 0;
    order: 2;
  }
}

.marker_group {
  margin-left: auto;
  order: 2;
  font-size: 0;
}
@media (min-width: 576px) {
  .marker_group {
    max-width: 660px;
    order: 3;
  }
}
.marker_group a {
  margin-left: 32px;
}
.marker_group i {
  font-size: 24px;
}

.marker_link_fullstar i {
  color: #F5A623;
}

.record_group {
  margin-top: 15px;
  margin-left: 36px;
  font-size: 0;
}
.record_group a:not(:first-child) {
  margin-left: 16px;
}
.record_group i {
  font-size: 16px;
  color: #757575;
}

.icon_date_text {
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #757575;
}

.task {
  padding: 24px 32px;
}
.task a {
  display: inline-block;
}
.task .marker_link_star {
  display: inline-block;
}
.task .marker_link_fullstar {
  display: none;
}
.task.task_star .marker_link_star {
  display: none;
}
.task.task_star .marker_link_fullstar {
  display: inline-block;
}

* {
  /* outline: 1px solid red; */
}

/*# sourceMappingURL=main.css.map */
