body, p {
  margin: 0;
}

div {
  box-sizing: border-box;
}

input, textarea {
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

header {
  background-color: #4A90E2;
}

body {
  background-color: #E1E1E1;
}

.task_body, .task, .task.task_done {
  background-color: #F2F2F2;
}

.task.task_important {
  background-color: #FFF2DC;
}

nav {
  margin: 0 auto;
  height: 76px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  nav {
    max-width: 660px;
  }
}

.nav_link {
  margin: 0 40px;
  padding: 24px 20px;
  box-sizing: border-box;
  flex: 1 0 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #00408B;
}
@media (min-width: 576px) {
  .nav_link {
    margin: 0 10px;
  }
}
@media (min-width: 576px) {
  .nav_link:hover {
    border-bottom: 5px solid #00408B;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
  }
}
.nav_link:nth-child(1), .nav_link:nth-child(3) {
  display: none;
}
@media (min-width: 576px) {
  .nav_link:nth-child(1), .nav_link:nth-child(3) {
    display: block;
  }
}

.nav_control {
  display: block;
}
@media (min-width: 576px) {
  .nav_control {
    display: none;
  }
}
.nav_control:hover {
  border-bottom: 5px solid #00408B;
}
.nav_control_prev {
  margin: auto;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
}
.nav_control_next {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
}
.nav_control_arrow {
  padding: 24px 20px;
  font-size: 24px;
  line-height: 1.2;
  color: #00408B;
}
.nav_control_arrow:hover {
  color: #FFFFFF;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 24px 20px;
}
@media (min-width: 576px) {
  .container {
    max-width: 660px;
  }
}

.add_task {
  margin-bottom: 24px;
  width: 100%;
  position: relative;
}
.add_task input {
  padding: 10px 0 0 67px;
  width: 100%;
  height: 65px;
  box-sizing: border-box;
  border: 2px solid #C8C8C8;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.add_task input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #C8C8C8;
}
.add_task i {
  width: 20px;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 32px;
  font-size: 24px;
  color: #C8C8C8;
}

.task_card {
  padding: 24px 32px;
}
.task_info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}
.task_checkbox, .task_icon_check {
  display: none;
}
.task_checkbox_label {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  background-color: #FFFFFF;
}
.task_message {
  margin-top: 8px;
  flex: 1 0 100%;
  order: 3;
  outline: none;
  border: none;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}
@media (min-width: 576px) {
  .task_message {
    margin-top: 0;
    flex: 1 0 0;
    order: 2;
  }
}
.task_message, .task_message::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}
.task_done .task_checkbox_label {
  background-color: #4A90E2;
}
.task_done .task_icon_check {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #FFFFFF;
}
.task_done .task_message {
  text-decoration: line-through;
}
.task_done .task_message::placeholder {
  color: #757575;
}

.marker_group {
  margin-left: auto;
  order: 2;
  font-size: 0;
}
@media (min-width: 576px) {
  .marker_group {
    order: 3;
  }
}
.marker_group a {
  margin-left: 32px;
  display: inline-block;
}
.marker_group i {
  font-size: 24px;
}

.marker_link_fullstar i {
  color: #F5A623;
}

.marker_link_edit i {
  color: #4A90E2;
}

.record_group {
  margin-top: 15px;
  display: flex;
  font-size: 0;
}
@media (min-width: 576px) {
  .record_group {
    margin-left: 40px;
  }
}
.record_group i {
  font-size: 16px;
  color: #757575;
}
.record_group i:not(:first-child) {
  margin-left: 16px;
}
.record_group span {
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #757575;
}

.task_status {
  margin-top: 24px;
  padding: 0 32px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  color: #C8C8C8;
}

.task_body {
  padding: 24px 32px;
  border-top: 3px solid #C8C8C8;
}
@media (min-width: 576px) {
  .task_body {
    padding: 24px 78px 24px 72px;
  }
}
.task_body_item {
  display: flex;
  align-items: baseline;
  font-size: 0;
}
.task_body_item:not(:first-child) {
  margin-top: 24px;
}
.task_body_icon {
  margin-right: 8px;
  font-size: 16px;
}
.task_body_content {
  display: flex;
  flex-wrap: wrap;
}
.task_body_subtitle {
  margin-bottom: 8px;
  flex: 1 0 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.deadline input {
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  width: 162px;
  height: 35px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.deadline input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #C8C8C8;
}
.deadline input:nth-of-type(1) {
  margin-bottom: 8px;
  margin-right: 8px;
}
@media (min-width: 576px) {
  .deadline input:nth-of-type(1) {
    margin-bottom: 0;
  }
}

.file_content {
  display: flex;
  align-items: center;
}
.file_info {
  margin-right: 24px;
}
.file_name {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
.file_date {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #757575;
}
.file_upload {
  position: relative;
}
.file_upload i {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: #FFFFFF;
}
.file_upload input {
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: #C8C8C8;
}
.file_upload input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #C8C8C8;
}
.file_upload input:hover {
  background-color: #4A90E2;
}
.file_upload input:focus {
  outline: none;
}

.comment textarea {
  resize: none;
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
.comment textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #C8C8C8;
}
.comment textarea:focus {
  outline: 2px solid #4A90E2;
}

.task_footer {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  font-size: 0;
}
@media (min-width: 576px) {
  .task_footer {
    flex-direction: row;
    height: 60px;
  }
}
.task_footer button {
  padding: 0;
  border: none;
  border-right: 0;
  flex: 1 0 60px;
}
@media (min-width: 576px) {
  .task_footer button {
    flex: 1 0 0;
  }
}
.task_footer button:focus {
  outline: none;
}
.task_footer i {
  margin-right: 16px;
}

.task_button_cancel {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #D0021B;
}
.task_button_cancel:hover {
  background-color: #FDFDFD;
}
.task_button_plus {
  background-color: #4A90E2;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.task_button_plus:hover {
  background-color: #3982D7;
}

.task_all .task_status_normal, .task_progress .task_status_normal {
  display: inline;
}
.task_all .task_status_completed, .task_progress .task_status_completed {
  display: none;
}

.task_completed .task_status_normal {
  display: none;
}
.task_completed .task_status_completed {
  display: inline;
}

.task:not(:nth-child(5)) {
  margin-top: 8px;
}

.task .marker_link_star, .task.task_done .marker_link_star {
  display: inline-block;
}
.task .marker_link_fullstar, .task.task_done .marker_link_fullstar {
  display: none;
}

.task.task_important .marker_link_star {
  display: none;
}
.task.task_important .marker_link_fullstar {
  display: inline-block;
}

.add_task:focus {
  display: none;
}
.add_task ~ .task {
  display: none;
}
.add_task ~ .task.task_edit_mode {
  display: block;
}
.add_task ~ .task.task_edit_mode .marker_link_edit {
  display: inline-block;
}
.add_task ~ .task.task_edit_mode .marker_link_pen {
  display: none;
}
.add_task ~ .task.task_edit_mode .task_button_add {
  display: block;
}
.add_task ~ .task.task_edit_mode .task_button_save {
  display: none;
}

.exist_task {
  display: none;
}
.exist_task ~ .task {
  display: block;
}
.exist_task ~ .task .marker_link_edit {
  display: none;
}
.exist_task ~ .task .marker_link_pen {
  display: inline-block;
}
.exist_task ~ .task .task_edit_group {
  display: none;
}
.exist_task ~ .task.task_edit_mode .marker_link_edit {
  display: inline-block;
}
.exist_task ~ .task.task_edit_mode .marker_link_pen {
  display: none;
}
.exist_task ~ .task.task_edit_mode .task_edit_group {
  display: block;
}
.exist_task ~ .task.task_edit_mode .task_button_add {
  display: none;
}
.exist_task ~ .task.task_edit_mode .task_button_save {
  display: block;
}

.task_edit_mode .record_group, .task_done .record_group {
  display: none;
}

* {
  /* outline: 1px solid red; */
}

/*# sourceMappingURL=main.css.map */
