@use '../base/color';

%nav-background {
  background-color: color.$blue;
}

%main-background {
  background-color: color.$gray;
}

%task-general-background {
  background-color: color.$light-gray;
}

%task-star-background {
  background-color: color.$light-yellow;
}
