@use '../base/color';
@use '../base/font';
@use '../base/mediaquery';
@use '../base/position';

%edit-title {
  margin-bottom: 8px;

  vertical-align: middle;

  @include font.medium(20px);
}

%upload-content {
  span {
    @include font.regular(16px) {
      color: color.$black;
    }
  }
  p,
  p span {
    @include font.regular(16px) {
      color: color.$heavy-gray;
    }
  }
}

%task-status {
  @include font.regular(18px) {
    color: color.$medium-gray;
  }
  @include mediaquery.mediaquery-tablet {
    @include font.regular(24px);
  }
}
