@use '../base/color';
@use '../base/font';
@use '../base/mediaquery';

%header-text {
  margin-top: 8px;
  flex: 1 0 100%;
  order: 3;
  @include mediaquery.mediaquery-tablet {
    margin-top: 0;
    flex: 1 0 0;
    order: 2;
  }

  background-color: transparent;

  &,
  &::placeholder {
    @include font.medium(24px) {
      color: color.$black;
    }
  }
}
